<!-- Breadcomb area Start-->
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-form"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <br>
                                    <h1>Anggaran Bulanan </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->

<!-- Form Element area Start-->
<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="">Dana Sosial</label>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Anngaran RP. 0">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-2 col-sm-12 col-xs-12 text-center">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="nk-int-st">
                                    <p for="">X 10%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Anngaran RP. 0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="">Konsumsi</label>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Anngaran RP. 0">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-2 col-sm-12 col-xs-12 text-center">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="nk-int-st">
                                    <p for="">X 10%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Anngaran RP. 0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="">Investasi</label>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Anngaran RP. 0">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-2 col-sm-12 col-xs-12 text-center">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="nk-int-st">
                                    <p for="">X 10%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Anngaran RP. 0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="">Asuransi</label>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Anngaran RP. 0">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-2 col-sm-12 col-xs-12 text-center">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="nk-int-st">
                                    <p for="">X 10%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Anngaran RP. 0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="">Dana Darurat</label>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Anngaran RP. 0">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-2 col-sm-12 col-xs-12 text-center">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="nk-int-st">
                                    <p for="">X 10%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Anngaran RP. 0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="form-group nk-datapk-ctm form-elet-mg" id="data_1">
                                    <div class="input-group date nk-int-st">
                                        <span class="input-group-addon"></span>
                                        <input type="text" class="form-control" placeholder="03/19/2018">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Keterangan">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-example-int mg-t-15">
                                <button class="btn btn-success notika-btn-success waves-effect">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Form Element area End-->